* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1b0f0a;
  color: white;
  padding: 20px;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}

.header {
  grid-column: 1 / 3;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
}

.history {
  background-color: #3a1f14;
  padding: 20px;
  border-radius: 10px;
  height: 250px;
}

.torii img,
.street img,
.blossom img,
.cuisine img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.explore, .stay, .cuisine {
  background-color: #3a1f14;
  padding: 20px;
  border-radius: 10px;
}

.buttons {
  grid-column: 1 / 0;
  display: flex;
  gap: 15px;
  margin-top: 100px;
}

button {
  background-color: #5a2d18;
  border: none;
  width: 250px;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.next {
  background-color: #d94d26;
}

button:hover {
  opacity: 0.85;
}