* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    height: 100vh;
}
section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(160deg, #2b1a10, #4e2a0d, #7a4b1a);
}
.left {
    height: 100%;
    display: grid;
    padding: 5px 2.5px 5px 5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.75fr 0.4fr;
    grid-template-areas: 
        "a1 a1 a1 a1"
        "b1 b1 a2 a2"
        "c1 c1 c2 c3" 
    ;
}
.picture-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    line-height: 50px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-image: url("imagens/img1.jpg");
    background-size: cover;
    grid-area: a1;
}
.picture-1 h1 {
    font-size: 50px;
    font-weight: bold;
}
.picture-1 p {
    font-size: 15px;
    opacity: 0.8;

}
.component-1, .component-2, .component-3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 30px;
    justify-content: space-around;
    background: linear-gradient(145deg, rgba(90, 45, 0, 0.85), rgba(30, 15, 0, 0.95));
    border-radius: 5px;
}
.component-1 h2, .component-2 h2, .component-3 h2 {
    font-size: 30px;
    font-weight: bold;
}
.component-1 p, .component-2 p, .component-3 p {
    font-size: 13px;
    opacity: 0.8;
}
.component-1 {
    justify-content: center;
    gap: 20px;
    grid-area: b1;
    grid-column: 1/3;
}
.picture-2 {
    background-image: url("imagens/img2.jpg");
    background-size: cover;
    border-radius: 5px;
    grid-area: a2;
    grid-column: 3/5;
}
.btn-1, .btn-2, .btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}
.btn-1 {
    grid-area: c1;
    background-color: rgba(30, 15, 0, 0.95);
}  
.btn-2 {
    grid-area: c2;
    background-color: rgba(62, 31, 1, 0.95);
}
.btn-3 {
    grid-area: c3;
    background-color: rgba(181, 92, 3, 0.85);
}
.right {
    height: 100%;
    display: grid;
    padding: 5px 5px 5px 2.5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 2fr 2fr 1.5fr;
    grid-template-areas:
        "b2 a4"  
        "b3 a5"   
        "b3 a5"   
        "a3 a5"
        ;
}
.component-2 {
    grid-area: b2;
}
.picture-3 {
    background-image: url("imagens/img3.webp");
    background-size: cover;
    border-radius: 5px;
    grid-area: a3;
    grid-row: 2/4; ;
}
.component-3 {
    grid-area: b3;
    grid-row: 4/5;
}
.picture-4 {
    background-image: url("imagens/img4.webp");
    background-size: cover;
    border-radius: 5px;
    grid-area: a4;
    grid-row: 1/3;
}
.picture-5 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;
    gap: 2rem;
    color: rgb(238, 121, 24);
    background-image: url("imagens/img5.jpg");
    background-size: cover;
    border-radius: 5px;
    grid-area: a5;
    grid-row: 3/5;
}
.picture-5 h2 {
    font-size: 30px;
    font-weight: bold;
} 
.picture-5 p {
    font-size: 15px;
    opacity: 0.8;
} 